
.App{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.profile-info img{
  width: 300px;
  border-radius: 300px;
  border: 0.5px solid grey;
}
.profile-info{
  padding: 30px;
  width: 30%;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 0px grey;
}
.App button{
  background: blue;
  padding: 10px 30px;
  color: white;
  font-weight: bolder;
  border-radius: 20px;
}